body {
    padding: 0;
    margin: 0;
    overflow: hidden; /* Optional: to prevent scrolling if the content overflows */
}

#unity-container {
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 25%;
    /*top: calc(80% - 200px); !* 20% above the bottom, adjust 300px based on half the height of the Unity player *!*/
    transform: translate(-50%, 0); /* Adjust for horizontal center */
    width: 1080px;
    height: 600px;
}

#unity-canvas {
    background: #FFFFFF;
}

/* ... rest of your existing styles ... */

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }

/* ... rest of your existing styles ... */

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}
